<p *ngIf="!id">
  Enter id of video to see video with conversation bubbles!
</p>
<div *ngIf="id" class="video-container">
  <h1 class="video-title">
    Moment from meeting with Two Pillars
  </h1>
  <video
    controls
    (timeupdate)="onTimeUpdate()"
    #videoPlayer
    class="video">
    <source src="https://static.chorus.ai/api/{{id}}.mp4" type="video/mp4">
    Your browser doesn't support HTML5 video.
  </video>
</div>
<div
  *ngIf="transcript && currentTime"
  class="transcript-container">
  <ul class="bubble-wrap">
    <li 
      *ngFor="let speechBubbles of transcript" 
      [hidden]="speechBubbles['speech'][0]['time'] > currentTime"
      class="speaker-wrap" >
      <div class="avatar avatar-left">&nbsp;</div>
      <div class="text-by-speaker">
        <div class="speaker">
          {{speechBubbles['speaker']}}
        </div>
        <div
          class="speech-bubble"
          *ngFor="let bubble of speechBubbles['speech']"
          [hidden]="bubble['time'] > currentTime">
          <div class="speaker-wrap">

            <div class="speech-bubble">
              <span class="bubble-text">
                  {{bubble['snippet']}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="avatar avatar-right">&nbsp;</div>
    </li>
  </ul>
</div>