<p *ngIf="!id">
  Enter id of video to see video with conversation bubbles!
</p>
<div *ngIf="id" class="video-container">
  <h1 class="video-title">
    Moment from meeting with Two Pillars
  </h1>
  <video
    controls
    width="200px"
    (timeupdate)="onTimeUpdate()"
    #videoPlayer>
    <source src="https://static.chorus.ai/api/{{id}}.mp4" type="video/mp4">
    Your browser doesn't support HTML5 video.
  </video>
</div>
<div
  *ngIf="transcript && currentTime"
  class="transcript-container">
  <ul>
    <li 
      *ngFor="let speechBubble of transcript" 
      [hidden]="speechBubble.time > currentTime" >
      <div class="speechBubble">
        <div>
          {{speechBubble.speaker}}
        </div>
        <div>
          {{speechBubble.snippet}}
        </div>
      </div>
    </li>
  </ul>
</div>