/* You can add global styles to this file, and also import other style files */

/* Normalize CSS */
*, html, body, ul {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #424242;
  font-family: sans-serif;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}